@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Inter:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border : 1px solid red;

}
:root{
    // --theme:#123478;
    --theme: #1f329b;

   
    --theme_light:#ECEEFF;
}
html{
    font-family: 'Baloo Bhai 2', cursive;
}
a{
    text-decoration: none;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--theme_light);
}
.login_container{
    height: 480px;
    width: 720px;
    display: flex;
    overflow: hidden;
    .overlay_container{
        background-color: var(--theme);
        flex: 1;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
    }
    .form_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        text-align: center;
        background-color: white;
        flex: 1;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;

        form{
            display: flex;
            flex-direction: column;

            h1 {
                font-weight: bold;
                margin: 0;
                padding-bottom: 20px;
            }
            a {
                color: #333;
                font-size: 14px;
                text-decoration: none;
                margin: 15px 0;
            }
            button {
                border-radius: 20px;
                border: 1px solid var(--theme);
                background-color: var(--theme);
                color: #FFFFFF;
                font-size: 12px;
                font-weight: bold;
                padding: 12px 45px;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: transform 80ms ease-in;
                cursor: pointer;
                a{
                    color: white;
                }
            }

            form {
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 50px;
                height: 100%;
                text-align: center;
            }

            input {
                background-color: #eee;
                border: none;
                padding: 12px 15px;
                margin: 8px 0;
                width: 100%;
            }
        }
    }
}
.mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;

}
.navbar{
    width: 300px;
    height: 100%;
    border-right: 0.3px solid var(--theme);
    color: var(--theme);

    .navbar__block{
        cursor: pointer;
        font-weight: 700;
        line-height: 60px;
        border-radius: 10px;
        height: 60px;
        margin: 24px 8px 0 16px;
        button{
            cursor: pointer;
            background-color: white;
            font-weight: 700;
            line-height: 60px;
            border-radius: 10px;
            text-align: left;
            color: var(--theme);
            border: none;
            height: 100%;
            width: 100%;
            &:hover{
                background-color: var(--theme_light);
            }
            ion-icon{
                margin: 0 16px;
                font-size: 20px;
            }
        }
    }
    .username{
        height: 300px;
        border-bottom: 0.3px solid var(--theme);
        text-align: center;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        &>ion-icon{
            font-size: 100px;
        }
        .navbar__block{
            border-radius: 10px;
            width: 160px;
            button{
                background-color: var(--theme);
                color: white;

            }
        }
        a{
            color: white;
        }
    }
   
}
.phone_navbar{
    display: none;
}
.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    .header{
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--theme);
        color: white;
        line-height: 60px;
        h1{
            margin: 0 24px;
        }
        .navbar__block{
            display: none;
        }
    }
    .content{
        flex: 1;
    }
}
@media only screen and (max-width: 46.1875em) {
    .overlay_container{
        display: none;
    }
    .navbar{
        display: none;
    }
    #header_time,#modeStatus{
        display: none;
    }
    .header{
        justify-content: center !important;
        margin: 0 auto;
        .navbar__block{
            display: block !important;
            height: 100%;
            width: 120px;
            button{
                cursor: pointer;
                background-color: #123478;
                text-align: center;
                color: white;
                border: none;
                height: 100%;
                width: 100%;
              
                ion-icon{
                    margin: 0 16px;
                    font-size: 32px;
                }
            }
        }
    }
    .phone_navbar{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 80px;
        display: flex;
        border-top: 0.3px solid var(--theme);
        .navbar__block{
            flex:1;
            button{
                cursor: pointer;
                background-color: white;
                line-height: 80px;
                text-align: center;
                color: var(--theme);
                border: none;
                height: 100%;
                width: 100%;
                &:hover{
                    background-color: var(--theme_light);
                }
                ion-icon{
                    margin: 0 16px;
                    font-size: 32px;
                    height: 80px;
                }
            }
        }
    }
}
